/* 
REFERENCES
[1] CSS Documentation: https://www.w3schools.com/css/default.asp
*/
.broker-container {
  background-color: rgb(54, 19, 19);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.broker-ContainerInside {
  padding-top: 20px;
  background: rgb(212, 204, 176);
}

.broker-container h1 {
  font-size: 28px;
}

.broker-container p {
  font-size: 18px;
  margin: 10px 0;
}

.broker-buttons {
  margin-top: 20px;
}

.broker-button {
  background-color: rgb(54, 19, 19);
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
}

.broker-button:hover {
  background-color: rgba(54, 19, 19, 0.462);
  text-decoration: none;
  color: #fff;
}

.broker-background {
  position: relative;
  background-image: url("happyBroker.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
  margin: 50px;
  height: 300px;
}

.broker-text {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.broker-text h2 {
  font-size: 24px;
}

.broker-text p {
  font-size: 16px;
}
