body {
  margin: 0;
  padding: 0;
}

#CreatePropertyPage {
  background-image: url("owen-lystrup-boLgiM0qwkg-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  margin: 0;
  width: 100%;
}
