
.about-leftdiv{
    width: 20%; 
    background-color: rgb(169, 157, 143);
}

.about-rightdiv{
    width: 80%;
    background-color: rgb(169, 157, 143);
}

.about-container{
    display: flex;
    max-height: 100%;
    position: relative;
}

.about-picture1{
    max-width: 100%;
    height: auto;
    display: block; 
}

/* https://www.w3schools.com/css/css3_flexbox_responsive.asp */
.about-container2 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgb(54, 19, 19);
  }
  
  .about-leftdiv2 {
    background-color: rgb(54, 19, 19);
    padding: 10px;
    flex: 50%;
    margin-top: 80px;
  }
  
  .about-rightdiv2{
    background-color: rgb(54, 19, 19);
    flex: 50%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .about-rightdiv2-text{
    color:rgb(169, 157, 143);
    border-radius: 10px;
    border-style: solid;
    font-size: 15px;
    padding: 40px;
    width: 400px;
    height: 450px;
    margin: auto;
    line-height: 30px;
  }

.about-title-div{
    font-size: 2vw;
    border-style: solid; 
    background-color: rgb(54, 19, 19);  
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-weight: bolder;
    height: 20vw;
    width: 25vw;
    color:rgb(212, 204, 176);
    text-align: center;
    position: absolute;
    margin-left: 10vw;
    margin-top: 10vw;
    z-index: 1;
}

.about-title-div p{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-top: 25%;
}
