/*
// [1] CSS Documentation: https://www.w3schools.com/css/default.asp
*/

.sign {
  font-family: "Roboto", Arial, sans-serif;
}
.accountsDiv {
  background-image: url("avi-waxman-ZdtOy25eNn4-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: space-between;
}

form {
  width: 50%;
  border: 1px solid #2a0403;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  transition: background 0.3s;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}
form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}
form input:focus {
  border-color: #007bff;
}
form button {
  background-color: #878b73;
  color: #fff;
  padding: 8px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 12px;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: rgb(212, 204, 176);
  color: black;
}

html * {
  font-family: Arial, Helvetica, sans-serif !important;
}
