/*
// [1] CSS Documentation: https://www.w3schools.com/css/default.asp
*/
.sign {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.accountsDiv {
  background-color: rgb(212, 204, 176);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.container {
  padding: 25px;
  justify-content: space-between;
  max-width: 400px;
  margin: auto;
  border: 1px, solid;
  border-color: black;
  background-color: rgb(212, 204, 176);
  border-radius: 5px;
}

form {
  width: 300px;
  border: 1px solid #2a0403;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  margin: 10px;
  transition: background 0.3s;
}

form:hover {
  background: #2a0403;
  color: white;
}

form label {
  display: flex;
  margin: auto;
  padding: 4px;
}
form input {
  width: 100%;
  padding: 7px;
}
form button {
  margin-top: 10px;
}

form button:hover {
  background-color: rgb(212, 204, 176);
  color: black;
}
