.open-button {
  background-color: #67727e;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 45px;
}

.open-button:hover{
  background-color: #0a1f09;
}
 
.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 600px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

/* Style for the close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #007bff;
  background: none;
  border: none;
  cursor: pointer;
}

/* Style for the "Mortgage Calculator" heading */
h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family:'Times New Roman', Times, serif;
}

/* Style for input labels and input fields */
label {  
  font-size: 18px;
  margin-top: 10px;
}

input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width:40%;
  font-size: 16px;
  height: 50%
}

/* Style for the select dropdown */
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 40%;
  font-size: 16px;
  margin-top: 10px;
}

/* Style for the calculate button */
.calculate-button {
  background-color:#93a29c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.calculate-button:hover{
  background-color: #adbbb0;
}

/* Style for the monthly payment result */
.sentence-display{
  font-size: 18px;
  font-family:'Times New Roman', Times, serif;
  margin-top: 20px;
}

.modal-title{
  font-weight: bolder;
  font-size: 26px;
  font-family:'Times New Roman', Times, serif;
}

.modal-form{
  font-size: 18px;
  font-family:'Times New Roman', Times, serif;
  width: 70%;
}

.prompt{
  font-family:'Times New Roman', Times, serif;
}

