/* Style for the "Request Visit" button */
.request-button {
  background-color: #67727e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 150px;
  height: 45px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.request-button:hover {
  background-color: #0a1f09;
}

/* Style for the modal overlay */
.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.5);
}

/* Style for the modal content */
.ReactModal__Content {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 400px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

.submit-button {
  background-color: #93a29c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.submit-button:hover {
  background-color: #adbbb0;
}

/* Style for the "Select a Date" heading */
.select-date-heading {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Style for the date input field */
.date-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.time-select {
  font-family: Georgia, "Times New Roman", Times, serif;
}

#offer-form {
  width: auto;
  border-color: #93a29c;
  border-width: 5px;
}
