/* https://www.w3schools.com/css/css_positioning.asp */
.title {
  border-style: none;
  border-color: #878b73;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  height: 10vw;
}

.header-box {
  background-color: #878b73;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-box-1:hover,
.nav-box-2:hover,
.nav-box-3:hover,
.nav-box-4:hover {
  background-color: #441414;
  color: white;
}

.nav-box-1,
.nav-box-2,
.nav-box-3,
.nav-box-4 {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  background-color: rgb(212, 204, 176);
  border-radius: 5px;
  height: 30px;
  width: 150px;
  margin-bottom: 20px;
}

.navACC {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  height: 2vw;
  width: 100px;
  margin-left: 15vw;
  padding-top: 5%;
  font-size:small;
} 
.navACC:hover{
  background-color: rgba(236, 236, 236, 0.733);
}

.dropd1:hover {
  border: "solid";
}

.nav-box-4 {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  background-color: rgb(212, 204, 176);
  border-radius: 5px;
  height: 30px;
  width: 200px;
  margin-left: 50px;
}

.logoutbutton {
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 30px;
  font-size: 14px;
  background-color: #878b73;
  margin-left: 350px;
  width: 100px;
  border-style: none;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
}

.logoutbutton:hover {
  text-decoration: underline;
}

.user-type {
  text-align: right;
  width: 230px;
  font-size: 14px;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  z-index: 0;
}

.header-user-role{
  background-color: #878b73;
  color: white;
}